*{
    text-align: center;
    background-image: url('./25.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: "1";
}

